{
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "plugin:react/recommended"
  ],
  "plugins": [
    "jest",
    "react-hooks"
  ],
  "env": {
    "jest/globals": true,
    "browser": true
  },
  "rules": {
    "semi": [2, "always"],
    "operator-linebreak": [2, "after"],
    "no-multiple-empty-lines": [2, { "max": 2 }],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "off",
    "no-extra-boolean-cast": "off"
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "16.9.0"
    }
  }
}
