$defaultBackground: #181a1b;
$defaultTextColor: white;
$cardBackground: #323232;
$highlightColor: teal;
$gray-0: #ffffff;
$gray-2-5: #f9f9f9;
$gray-5: #f2f2f2;
$gray-7-5: #ececec;
$gray-10: #e6e6e6;
$gray-15: #d9d9d9;
$gray-20: #cccccc;
$gray-25: #bfbfbf;
$gray-30: #b3b3b3;
$gray-35: #a6a6a6;
$gray-40: #999999;
$gray-45: #8c8c8c;
$gray-50: #808080;
$gray-55: #737373;
$gray-60: #666666;
$gray-65: #595959;
$gray-70: #4d4d4d;
$gray-75: #404040;
$gray-80: #333333;
$gray-85: #262626;
$gray-90: #191919;
$gray-95: #0d0d0d;
$gray-100: #000000;
