@import '../../styles/colors.scss';

.card {
  align-items: center;
  background: $cardBackground;
  border: 2px solid $gray-85;
  border-radius: 5px;
  color: $highlightColor;
  display: flex;
  font-size: 1.1em;
  font-weight: bold;
  height: 275px;
  justify-content: center;
  margin: 5px;
  transition: 0.2s all ease;
  width: 200px;
  z-index: 5;

  &:hover {
    border: 2px solid $highlightColor;
  }

  &.mini {
    font-size: 16px;
    height: 140px;
    width: 100px;
  }

  .type {
    height: 50px;
    width: 50px;
  }
}
