@import '../../styles/colors.scss';

.deck {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  height: 300px;
  justify-content: center;
  position: relative;
}

.button {
  align-items: center;
  background: $cardBackground;
  border: 2px solid transparent;
  border-radius: 5px;
  color: $highlightColor;
  display: flex;
  font-size: 1.1em;
  height: 275px;
  justify-content: center;
  margin: 5px;
  transition: 0.2s all ease;
  user-select: none;
  width: 200px;

  &:hover:not(.disabled) {
    border: 2px solid $highlightColor;
    cursor: pointer;
  }

  &.mini {
    font-size: 16px;
    height: 140px;
    width: 100px;
  }

  .type {
    height: 50px;
    width: 50px;
  }
}
